/* RESULTS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
main {
    margin: auto;
    margin-top: 30px;
}

.results {
    display: grid;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: auto;
}

a {
    display: grid;
    text-align: center;
}
/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {

    
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}